
.poll {
	background-color: pink;

	.remove {
		color: green;
		display: inline;
		padding-left: 10px;
	}
}

#polls {
	margin-top: 15px;
	padding: 5px;
	border: 1px solid purple;
}

.poll_option {
	margin-top: 5px;
}