
.poll {
	background-color: pink;

	.remove {
		color: green;
		display: inline;
		padding-left: 10px;
	}
}

#polls {
	margin-top: 15px;
	padding: 5px;
	border: 1px solid purple;
}

.poll_option {
	margin-top: 5px;
}

canvas.results {
	width: 200;
	height: 200;
}

.remove {
	cursor: pointer;
}

.title {
    font-size: 59px;
    font-family: 'Sigmar One',sans-serif;
	
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(51,51,51,0.7);
  z-index: 10;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

#poll_created {
	display: none;
}

#poll_created > .message {
	color: purple;
	background-color: white;
	padding: 20px;
}