
@import 'css/lib/mixins';



#login {
	display: none;
	border: 1px solid black;
	padding: 5px;
	overflow: auto;
	input {
		float: left;
		clear: left;
	}
}

#create_user {
	display: none;
	border: 1px solid black;
	overflow: auto;
	
	input {
		float: left;
		clear: left;
	}
}
.account_text_button {
	cursor: pointer;
	@include user_select(none);
}

